:root {
    --primary-font: 'Open Sans', sans-serif;
    --secondary-font: 'Raleway', sans-serif;

    --accent-color: rgba(255, 108, 0, 1);
    --main-color: #303030;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 250ms ease;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

body {
    font-family: var(--primary-font);
    color: var(--main-color);
}

.container {
    padding: 0 16px;
    margin: 0 auto;
    width: 100%;
}

@media screen and (min-width: 320px) {
    .container {
        width: 320px;
    }
}

@media screen and (min-width: 480px) {
    .container {
        width: 480px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}

.section {
    padding-top: 84px;
    padding-bottom: 84px;
}

@media screen and (min-width: 768px) {
    .section {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.section-supra-title {
    position: relative;
    color: #303030;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 80px;
}

.section-supra-title::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: 1px;
    width: 60px;
    background-color: currentColor;
}

.section-supra-title-grey {
    color: rgba(157, 164, 189, 0.60);
}

.onlined-dark-button {
    color: #303030;
    font-family: var(--primary-font);
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.08px;
    text-transform: uppercase;
    border-radius: 25px;
    border: 1px solid var(--accent-color);
    background-color: transparent;
    padding: 12px 20px;
}

.onlined-dark-button:hover {
    background-color: var(--accent-color);
    color: #fff;
}

.onlined-light-button {
    color: #fff;
    font-family: var(--primary-font);
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.08px;
    text-transform: uppercase;
    border-radius: 25px;
    border: 1px solid var(--accent-color);
    background-color: transparent;
    padding: 12px 20px;
}

.onlined-light-button:hover {
    background-color: var(--accent-color);
}

.section-title {
    color: #303030;
    font-family: var(--secondary-font);
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 2.1px;
    margin-top: 20px;
}

.section-title-light {
    color: #fff;
}