.footer-bottom {
    padding-top: 44px;
    padding-bottom: 44px;
}

@media screen and (min-width: 768px) {
    .footer-bottom {
        padding-top: 56px;
        padding-bottom: 56px;
    }
}

.footer-bottom-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (min-width: 768px) {
    .footer-bottom-container {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (min-width: 1200px) {
    .footer-bottom-container {
        justify-content: center;
        gap: 863px;
    }
}

.footer-bottom-social-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
}

.footer-bottom-socila-list-link {
    position: relative;
    color: var(--main-color);
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 2.2px;
}

.footer-bottom-socila-list-link:is(:hover, :focus) {
    color: var(--accent-color);
}

.footer-bottom-socila-list-link-first::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 60px;
    height: 1px;
    margin-left: -100px;
    background-color: var(--main-color);
}

.footer-bottom-copyright {
    color: #9DA4BD;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 2.2px;
}