.hero-container {
    display: flex;
    justify-content: center;
}

.hero-social-section {
    display: none;
}

@media screen and (min-width: 768px) {
    .hero-social-section {
        display: flex;
        align-items: flex-end;
        width: 80px;
    }
}

@media screen and (min-width: 1200px) {
    .hero-social-section {
        width: 50px;
    }
}

.hero-social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    transform: rotate(-90deg);
    transform-origin: left;
    margin-top: auto;
    margin-bottom: 1px;
}

.hero-social-list-item {
    position: relative;
    margin-left: 153px;
}

.hero-social-list-item::before {
    content: '';
    position: absolute;
    top: 60%;
    left: -113px;
    height: 1px;
    width: 60px;
    background-color: var(--main-color);
}

.hero-social-list-link {
    color: var(--main-color);
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 2.2px;
}

.hero-social-list-link:hover {
    color: var(--accent-color);
}

.hero-slider-section {
    position: relative;
    background: linear-gradient(rgba(25, 28, 38, 0.20), rgba(25, 28, 38, 0.20));
    width: 100%;
    height: 580px;
    padding: 208px 40px 209px;
}

@media screen and (min-width: 768px) {
    .hero-slider-section {
        width: 572px;
        height: 680px;
        padding: 272px 100px 237px;
    }
}

@media screen and (min-width: 1200px) {
    .hero-slider-section {
        height: 680px;
        width: 1070px;
        padding: 272px 100px 208px;
    }
}

.hero-supra-title {
    position: relative;
    color: rgba(157, 164, 189, 0.60);
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 80px;
}

.hero-supra-title::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: 1px;
    width: 60px;
    background-color: currentColor;;
}

.hero-title {
    display: block;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 36px;
    color: #fff;
    margin: 20px 0;
}

@media screen and (min-width: 480px) {
    .hero-title {
        font-size: 48px;
    }
}

@media screen and (min-width: 768px) {
    .hero-title {      
        letter-spacing: 2.4px;
    }
}

@media screen and (min-width: 1200px) {
    .hero-title {        
        font-size: 72px;
        letter-spacing: 3.6px;
    }
}

.hero-desc {
    color: #9DA4BD;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.36px;
}

@media screen and (min-width: 768px) {
    .hero-desc {
        font-size: 18px;
    }
}

.hero-carousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

[data-carousel-button]{
     display: none;
}

@media screen and (min-width: 768px) {
    [data-carousel-button] {
        display: block;
        position: absolute;
        bottom: 49px;
        border: none;
        background-color: transparent;
        color: rgba(157, 164, 189, 0.60);
        font-size: 11px;
        font-weight: 600;
        font-family: var(--primary-font);
        letter-spacing: 1.1px;
    }
}

[data-carousel-button='prev'] {
    right: 135px;
}

[data-carousel-button='next'] {
    right: 20px;
}

[data-carousel-button]::before {
    content: '';
    position: absolute;
    bottom: -8px;
    height: 1px;
    width: 60px;
    background-color: currentColor;
}

[data-carousel-button='next']::before {
    right: 0;
}

[data-carousel-button]:hover {
    color: #fff;
    cursor: pointer;
}

.hero-carousel-list {
    display: block;
    z-index: -1;
}

.hero-carousel-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    opacity: 0;
    transition-delay: 250ms;
}

.hero-carousel-item[data-active] {
    opacity: 1;
    transition-delay: 0ms;
}

.hero-slider-navigation {
    display: none;
}

@media screen and (min-width: 768px) {
    .hero-slider-navigation {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
    }
}

.hero-slider-navigation-item {
    display: block;
    width: 12px;
    height: 2px;
    background-color: #9DA4BD;
    border-radius: 4px;
}

.hero-slider-navigation-item[data-nav-active] {
    width: 18px;
    background-color: #fff;
}